*{
    margin: 0px;
    padding: 0px
}

body{
    background-color: #ED751C;
    background-image: url(imagens/logo.jpeg);
    background-repeat: no-repeat;
    background-position: bottom 30px right 100px;
    background-attachment:fixed;
    background-size: 40%;
    

    font-family: Arial, Helvetica, sans-serif;
}

#bloco{
    background-color: #FCFBFD;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.39);
    position: relative;
    width: 40vw;
    height: 95vh;
    border-radius: 30px;
    min-width: 400px;
}

#login{
    position: absolute;
    width: 60%;
    height: 50%;
    top: 20%;
    left: 20%;
    right: 15%;
}

h1{
    
    font-size: 2.6em;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

p{
    padding: 10px 10px 5px 0px;
    
    font-weight: bold;
}

#mailtxt, #senhatxt{
    width: 90%;
    max-width: 500px;
    height: 30px;
    margin-bottom: 35px;
    border-radius: 7px;
    border-color: #999292;
    box-shadow: none;
    font-size: 1.1em;
    padding: 2px;
    
    
}

#botao{

    padding-top: 4px;
    padding-bottom: 4px;
    width: 90%;
    height: 35px;
    color: white;
    background-color: #ED751C;
    border: #ED751C;
    border-radius: 20px;
    font-size: 1.3em;

}
a#esqueceu{
   display: flex;
   text-decoration: none;
   justify-content: flex-end;
   margin-bottom: 10px;
   color: black;
   text-decoration: underline;
}

p > a {
    justify-content: flex-start;
    text-decoration: none;
    color: #ED751C;
}

a:hover{
    text-decoration: underline;
}
    